/*
styles.css
Author: Alexandros Kordatzakis
Created: 2024 
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
    cursor: url('media/cursors/light/arrow.cur'), auto; /* Light-Mode Cursor */
}

html {
    scroll-behavior: smooth;
}

/* Custom Cursors */
/* Fluent Cursors from rw-designer */ 
a {
    cursor: url('media/cursors/light/link.cur'), pointer; /* Cursor for links */
}

input, textarea {
    cursor: url('media/cursors/light/text.cur'), text; /* Cursor for text inputs */
}

.btn {
    cursor: url('media/cursors/light/link.cur'), auto; /* Cursor for buttons */
}

h1, h2, h3, p, li {
    cursor: url('media/cursors/light/text.cur'), text; /* Cursor for text on paragraphs, titles, etc. */
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    flex: 1;
}

header {
    background: #008080; /* Teal color from the logo */
    color: #fff;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 100px; /* Adjust based on the actual logo size */
    margin-right: 10px;
    margin-left: 10px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
    background-color: #00695c;
    color: #e0f7fa;
    border-radius: 5px;
}

/* Dark Mode and Switcher */
.theme-toggle-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: flex;
    align-items: center;
    position: relative;
}

.theme-switch input {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.theme-toggle-label {
    cursor: pointer;
    background-color: rgb(45, 45, 45);
    width: 55px;
    height: 27px;
    border-radius: 100px;
    position: relative;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    box-sizing: border-box;}

.theme-toggle-label .sun-icon {
    color: #ffdd57;
    opacity: 1;
}

.theme-toggle-label .moon-icon {
    color: #fff;
    opacity: 0;
}

.theme-switch input:checked + .theme-toggle-label {
    background-color: #008080;
}

.theme-switch input:checked + .theme-toggle-label .toggle-ball {
    transform: translateX(25px);
}

.theme-switch input:checked + .theme-toggle-label .sun-icon {
    opacity: 0;
}

.theme-switch input:checked + .theme-toggle-label .moon-icon {
    opacity: 1;
}

.dark-mode {
    background-color: #333;
    color: #f4f4f4;
    cursor: url('media/cursors/dark/arrow.cur'), auto; /* Dark-Mode Custom Cursor */
}

/* Dark-Mode Custom Cursors */
/* Jolt Cursors by rw-designer */

.dark-mode a {
    cursor: url('media/cursors/dark/select.cur'), pointer; /* Dark mode cursor for links */
}

.dark-mode input, .dark-mode textarea {
    cursor: url('media/cursors/dark/text.cur'), text; /* Dark mode cursor for text inputs */
}

.dark-mode header {
    background: #111;
}

.dark-mode .highlight h3, .dark-mode .highlight .btn, .dark-mode .social-links a {
    color: #e0f7fa;
}

.dark-mode .highlight:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.dark-mode .mission, .dark-mode .vision {
    background: #222;
}

.dark-mode footer {
    background: #000;
}

header, footer, .highlight, .issue {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-mode header, .dark-mode footer, .dark-mode .highlight, .dark-mode .issue {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

#hero {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 5px; /* Offset for fixed header */
}

.hero-container {
    position: relative;
}

.hero-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-container img {
    width: 100%;
    height: auto;
    transition: filter 0.3s;
}

.dark-mode .hero-container img {
    filter: brightness(70%) contrast(90%);
}

.dark-mode .container img {
    filter: brightness(85%) contrast(85%);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}

.hero-text h2 {
    font-size: 48px;
    margin: 0;
}

.hero-text p {
    font-size: 24px;
}

.hero-text .btn {
    display: inline-block;
    background: #008080;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
}

.hero-text .btn:hover {
    background: #005959;
    transform: translateY(-3px);
}

#highlights .container {
    padding: 20px 0;
}

.highlight {
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.highlight:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.highlight h3 {
    color: #008080;
}

.highlight p {
    font-size: 18px;
}

.highlight .btn {
    display: inline-block;
    background: #008080;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
}

.highlight .btn:hover {
    background: #005959;
    transform: translateY(-3px);
}

.mission, .vision {
    background: #e0f7fa;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.dark-mode .mission, .dark-mode .vision {
    background: #444;
    color: #e0f7fa;
}

.social-links a {
    color: #008080;
    margin-right: 10px;
    font-size: 24px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #005959;
}

.social-media {
    margin-top: 30px;
    text-align: center;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact form label {
    margin-top: 10px;
}

#contact form input, #contact form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#contact form input[type="submit"] {
    background: #008080;
    color: #fff;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

#contact form input[type="submit"]:hover {
    background: #005959;
}

.issue {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.issue .btn {
    display: inline-block;
    background: #008080;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
}

.issue .btn:hover {
    background: #005959;
    transform: translateY(-3px);
}

.issue-details {
    flex: 1;
    margin-right: 20px;
}

.issue-cover img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: filter 0.3s;
}

.dark-mode .issue-cover img {
    filter: brightness(70%) contrast(90%);
}

.issue.latest-issue {
    background: #e0f7fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-mode .issue.latest-issue {
    background: #444;
    color: #e0f7fa;
}

.issue.past-issue {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-top: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-mode .issue.past-issue {
    background: #444;
    color: #e0f7fa;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    width: 100%;
    margin-top: auto; /* Push footer to the bottom */
}

footer p {
    margin: 0;
}

/* Screen-size breaking point(s) for better Mobile/Tablet optimisation */
@media (max-width: 790px) {
    header .container {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    }

    /* Adjust the hero text */
    .hero-text {
        padding-top: 60px; /* Add padding to prevent overlap */
    }

    /* Adjust font sizes for hero text */
    .hero-text h2 {
        font-size: 33px; /* Reduce font size */
    }

    .hero-text p {
        font-size: 18px; /* Reduce font size */
    }

    .hero-text .btn {
        padding: 8px 16px;
    }

    section {
        padding: 60px 0;
    }

    .issue {
        flex-direction: column;
        align-items: flex-start;
    }

    .issue-cover {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .issue-cover img {
        width: 100%;
        max-width: 300px;
    }
}

.scrollbutton {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #008080;
    color: #fff;
    padding: 20px;
    border-radius: 10%;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scrollbutton:hover {
    background-color: #005959;
    padding: 15px;
}

.scrollbutton i {
    margin: 0;
}

/* 404 page */
#error-page {
    text-align: center;
    padding: 100px 20px;
}

#error-page h2 {
    font-size: 48px;
    color: #333;
}

.dark-mode #error-page h2 {
    color: #e0f7fa;
}

#error-page p {
    font-size: 24px;
    color: #666;
}

.dark-mode #error-page p {
    color: #e0f7fa;
}

#error-page .btn {
    display: inline-block;
    background: #008080;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background 0.3s, transform 0.3s;
}

#error-page .btn:hover {
    background: #005959;
    transform: translateY(-3px);
}

#pet {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 0 auto;
}

.eye {
    position: absolute;
    width: 50px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: height 0.2s ease;
}

#left-eye {
    left: 25%;
}

#right-eye {
    right: 25%;
}

.pupil {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
}

.eye.blinking .pupil {
    opacity: 0;
}